*.fls
*.log
*.nav
*.out
# LaTeX temporary files
*.aux
*.log
*.toc
*.lot
*.lof

Outros arquivos/*

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

.vscode/settings.json
main.pdf
apresentacao-proposta.pdf
.gitignore
~$Projeto de Tese.pptx
Projeto de Tese.pptx
Projeto de Tese.pdf
PPT 08-03-18.pptx
PPT 08-03-18.pdf
GGV - Proposta de Tese - Marcelo Ruas - 22-02-18.pdf
bibliografia.pdf
Images/Diagrama-trabalho.pdf
Images/lassopath.png
.gitignore